# Using ANN

In [24]:
import pandas as pd  # Import pandas for data manipulation
from sklearn.model_selection import train_test_split  # Import train_test_split for splitting the dataset
from sklearn.preprocessing import StandardScaler, LabelEncoder  # Import StandardScaler and LabelEncoder for preprocessing
import pickle  # Import pickle for saving and loading models or other objects
from sklearn.preprocessing import OneHotEncoder # Import OneHotEncoder

# Read the CSV file into a DataFrame
data = pd.read_csv("Churn_Modelling.csv")
# Display the first five rows of the DataFrame

# Preprocessing
#Drop relevent features
data=data.drop(['RowNumber','CustomerId', 'Surname'], axis=1)

data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [25]:
# Encode the 'Gender' column using LabelEncoder
label_encoder_gender = LabelEncoder()  # Initialize the LabelEncoder for the 'Gender' column
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])  # Fit the LabelEncoder and transform the 'Gender' column into numerical values

# Initialize OneHotEncoder for 'Geography' column with sparse=False to get a dense array
onehot_encoder_geo = OneHotEncoder(sparse=False)  # Use sparse=False to get a dense output

# Fit the encoder and transform the 'Geography' column, creating a new array of one-hot encoded values
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']])

# If using an older version of scikit-learn, use get_feature_names instead of get_feature_names_out
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names(['Geography']))

# Concatenate the one-hot encoded columns with the original DataFrame
data = pd.concat([data, geo_encoded_df], axis=1)

# Optionally, drop the original 'Geography' column if it's no longer needed
data.drop('Geography', axis=1, inplace=True)

# Display the updated DataFrame
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [26]:
## Divide the dataset into independent and dependent features
X = data.drop('Exited', axis=1)  # 'X' contains all features except the target variable 'Exited'
y = data['Exited']  # 'y' contains the target variable 'Exited'

## Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# 'X_train' and 'y_train' are the training data (80% of the dataset)
# 'X_test' and 'y_test' are the testing data (20% of the dataset)
# 'random_state=42' ensures reproducibility of the split

## Scale these features
scaler = StandardScaler()  # Initialize the StandardScaler
X_train = scaler.fit_transform(X_train)  # Fit the scaler on the training data and transform it
X_test = scaler.transform(X_test)  # Transform the testing data using the same scaler
# Scaling ensures that the features have a mean of 0 and a standard deviation of 1, which helps many machine learning models perform better

In [27]:
## Save the encoders and sscaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [28]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [29]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [30]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

# ANN Implementing

In [34]:
from tensorflow.keras.layers import Dense  # Import Dense layer class
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard  # Import EarlyStopping and TensorBoard callbacks
import datetime  # Import datetime to handle timestamp for TensorBoard logs
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

# Initialize the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),  # First Dense layer with 64 units and ReLU activation
    Dense(64, activation='relu'),  # Second Dense layer with 64 units and ReLU activation
    Dense(1, activation='sigmoid')  # Output Dense layer with 1 unit and sigmoid activation for binary classification
])

# Compile the model with optimizer, loss function, and metrics
model.compile(optimizer="adam", loss="binary_crossentropy", metrics=['accuracy'])

# Display the model summary (optional, for verification)
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                832

 dense_7 (Dense)             (None, 64)                4160

 dense_8 (Dense)             (None, 1)                 65

=================================================================
Total params: 5057 (19.75 KB)
Trainable params: 5057 (19.75 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [35]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard  # Import the required callbacks

# Define the directory where the TensorBoard logs will be saved
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
# TensorBoard callback to log training metrics
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

# EarlyStopping callback to stop training when the validation loss stops improving
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

### Train the model
history = model.fit(
    X_train,                # Training features
    y_train,                # Training labels
    validation_data=(X_test, y_test),  # Validation data (features and labels)
    epochs=100,             # Maximum number of epochs for training
    callbacks=[tensorboard_callback, early_stopping_callback]  # List of callbacks: TensorBoard and EarlyStopping
)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4416 - accuracy: 0.8116 - val_loss: 0.3808 - val_accuracy: 0.8340
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3728 - accuracy: 0.8466 - val_loss: 0.3509 - val_accuracy: 0.8590
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3491 - accuracy: 0.8584 - val_loss: 0.3472 - val_accuracy: 0.8605
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3428 - accuracy: 0.8572 - val_loss: 0.3443 - val_accuracy: 0.8655
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3376 - accuracy: 0.8608 - val_loss: 0.3445 - val_accuracy: 0.8600
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3343 - accuracy: 0.8624 - val_loss: 0.3387 - val_accuracy: 0.8625
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3314 - accuracy: 0.8630 - val_loss: 0.3401 - val_accuracy: 0.8595
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3276 - accuracy: 0.8651 - val_loss: 0.3367 - val_accuracy: 0.8665
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3253 - accuracy: 0.8655 - val_loss: 0.3373 - val_accuracy: 0.8625
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3242 - accuracy: 0.8656 - val_loss: 0.3369 - val_accuracy: 0.8640
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3217 - accuracy: 0.8627 - val_loss: 0.3345 - val_accuracy: 0.8630
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3181 - accuracy: 0.8652 - val_loss: 0.3451 - val_accuracy: 0.8555
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3156 - accuracy: 0.8692 - val_loss: 0.3361 - val_accuracy: 0.8600
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3148 - accuracy: 0.8676 - val_loss: 0.3480 - val_accuracy: 0.8570
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3140 - accuracy: 0.8699 - val_loss: 0.3398 - val_accuracy: 0.8595
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3109 - accuracy: 0.8699 - val_loss: 0.3423 - val_accuracy: 0.8630
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3094 - accuracy: 0.8706 - val_loss: 0.3386 - val_accuracy: 0.8610
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3075 - accuracy: 0.8719 - val_loss: 0.3423 - val_accuracy: 0.8605
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3064 - accuracy: 0.8723 - val_loss: 0.3403 - val_accuracy: 0.8570
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3044 - accuracy: 0.8727 - val_loss: 0.3445 - val_accuracy: 0.8590
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3032 - accuracy: 0.8745 - val_loss: 0.3380 - val_accuracy: 0.8640

In [36]:
model.save('model.h5')

/home/nzeinali/.local/lib/python3.8/site-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(